<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FNAAPPRegression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ec8072">  <td>18/01/16 16:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_Regression_TestSuite.beforeMethod()[pri:0, instance:com.arc.fna.tests.FNA_Regression_TestSuite@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/01/16 16:12:53</td>   <td>318317</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FNA_Regression_TestSuite.stopAppiumServer()[pri:0, instance:com.arc.fna.tests.FNA_Regression_TestSuite@7791a895]">&lt;&lt;stopAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/01/16 16:08:55</td>   <td>80245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_Regression_TestSuite.verifyMarkupAnnotationDrawingSaving(java.lang.String)[pri:1, instance:com.arc.fna.tests.FNA_Regression_TestSuite@7791a895]">verifyMarkupAnnotationDrawingSaving</td> 
  <td>main@407858146</td>   <td></td> </tr>
</table>
